{% extends "base.html" %}
{% block title %}{{ blog['title'] }}{% endblock %}
{% block content %}
    <h2>{{ blog['title'] }}</h2>
    <p>{{ blog['content'] }}</p>
    <p><small>Posted by {{ blog['user_id'] }} on {{ blog['date_posted'] }}</small></p>
    {% if current_user.id == blog['user_id'] %}
        <a href="{{ url_for('update_blog', blog_id=blog['id']) }}">Edit</a>
        <form method="POST" action="{{ url_for('delete_blog', blog_id=blog['id']) }}" style="display:inline;">
            <input type="submit" value="Delete">
        </form>
    {% endif %}
{% endblock %}